// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.credit-card-form {
  margin-top: 1em;
  width: 300px;
  position: relative;
  left: 50%;
  margin-left: -150px;

  form {
    border: 1px solid #ddd;
    padding: 2em 1em 1.5em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: whitesmoke;

    div.hosted-field {
      position: relative;
      border: 1px solid #ddd;
      height: 34pt;
      padding: 1em;
      background-color: white;
      margin-bottom: 2em;
    }

    input[type=submit] {
      margin-top: .5em;
      float: right;
    }

  }
}

.clearfix {
  clear: both;
  overflow: auto;
}